<div id="main">
  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container-fluid" style="width: 15%; margin-top: 10%"> <!-- Clase de boostrap-->


        <div class="card mb-3">
          <div class="card-header" style="text-align: center;">
            <h3><i class="fa fa-table"></i> Menu</h3>
          </div>
          <div class="card-body">

            <div style="display: contents; text-align: center;">
              <div class="example-button-row">
                <button mat-fab extended color="primary" routerLink="/survey/survey">
                  <mat-icon>speaker_notes</mat-icon>
                  Encuenta
                </button>
              </div>
              <br />
              <div class="example-button-row">
                <button mat-fab extended color="primary" routerLink="/survey/results">
                  <mat-icon>monitoring</mat-icon>
                  Resultados
                </button>
              </div>
              <br />
              <div class="example-button-row">
                <button mat-fab extended color="primary" routerLink="/survey/about">
                  <mat-icon>home_pin</mat-icon>
                  Acerca de
                </button>
              </div>
            </div>

          </div>
        </div>
        <!-- end card-->

      </div>
    </div>
    <!-- END container-fluid -->
  </div>
  <!-- END content -->
</div>
<!-- END content-page -->
